#Laravel standard ignore
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.index
/storage/*.key
/storage/logs/*
/storage/pail
/bootstrap/cache/*

/vendor
.env
.env.backup
.env.production

.phpactor.json
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock
package-lock.json

yarn.lock
.DS_Store
Thumbs.db

.idea/
.vscode/
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

google_credential.json

